  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='[""]'>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]='["alta-producto"]'>Alta Producto</a>
        </li>

        <a class="nav-item nav-link py-2 d-none d-md-inline-block" *ngIf="authService.isLoggedIn" routerLink="listado-producto">Lista Productos</a>

        <a class="nav-item nav-link py-2 d-none d-md-inline-block" *ngIf="!authService.isLoggedIn" routerLink="login">Login</a>
        <!-- <a class="nav-item nav-link py-2 d-none d-md-inline-block" *ngIf="!authService.isLoggedIn" routerLink="registrarse">Registrarse</a> -->
        <a class="nav-item nav-link py-2 d-none d-md-inline-block" *ngIf="authService.isLoggedIn" (click)="authService.SignOut()">Desloguearse</a>
      </ul>
    </div>
  </nav>