  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='[""]'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["actor","alta"]'>Alta Actor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["pelicula","alta"]'>Alta Pelicula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["actor","listado"]'>Listado Actor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["pelicula","listado"]'>Listado Pelicula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["busqueda"]'>Busqueda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["actorpelicula"]'>Actor - Pelicula</a>
        </li>
      </ul>
    </div>
  </nav>