<div class="container mt-5">  
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Actor</span>
            <span class="badge badge-secondary badge-pill">3</span>
        </h4>

        <app-listado-actor (seleccionarActor)="seleccionarActor($event)"> </app-listado-actor>

        </div>

        <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Alta Pelicula</h4>
        <form class="needs-validation" novalidate (ngSubmit)="crearPelicula()">

            <div class="mb-3">
                <label for="nombre">Nombre</label>
                <input [(ngModel)]="pelicula.nombre" type="text" class="form-control" id="nombre" #nombre="ngModel" required>
                <div class="invalid-feedback" *ngIf="nombre.errors?.required">
                    El nombre es requerido
                </div>
            </div>

            <div class="mb-3">
                <label for="tipo">Tipo </label>
                <input [(ngModel)]="pelicula.tipo" type="text" class="form-control" id="tipo" #tipo="ngModel" required>
                <div class="invalid-feedback" *ngIf="tipo.errors?.required">
                    El tipo es requerido
                </div>
            </div>

            <div class="mb-3">
                <label for="estreno">Estreno </label>
                <input [(ngModel)]="pelicula.fechaEstreno" type="date" class="form-control" id="estreno" #estreno="ngModel" required>
                <div class="invalid-feedback" *ngIf="estreno.errors?.required">
                    La fecha de estreno es requerida
                </div>
            </div>

            <div class="mb-3">
                <label for="publico">Cantidad de publico </label>
                <input [(ngModel)]="pelicula.cantidadPublico" type="number" class="form-control" id="publico" #publico="ngModel" required>
                <div class="invalid-feedback" *ngIf="estreno.errors?.required">
                    La cantidad de publico es requerida
                </div>
            </div>

            <div class="mb-3">
                <label for="imagen">Imagen </label>
                <input [(ngModel)]="pelicula.fotoPelicula" type="url" class="form-control" id="imagen" #imagen="ngModel" required>
                <div class="invalid-feedback" *ngIf="imagen.errors?.required">
                    La imagen es requerida
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Crear Pelicula</button>
        </form>
        </div>
    </div>
</div>
